
<!--<app-template-full-width [title]="titleParent"> </app-template-full-width>-->
<!-- <app-template-container> </app-template-container> -->
<app-template-container [title]="titleParent" *ngIf="collection$ | async as collection">
<!--<app-table-light [collection]='collectionParent' [headers]="headers" *ngIf="collection">-->
  <app-table-light [headers]="headers">


  <tr *ngFor="let item of collection">
    <th scope="row">1</th>
    <!--  table data cells (td)-->
    <td>{{item.typePresta | uppercase }}</td>
    <td>{{item.client}}</td>
    <td>{{item.nbJours}}</td>
    <td>{{item.tjmtHt}}</td>
    <!--<td>{{total(item.tjmHt, item.nbJours)}}</td>-->
    <!--<td>{{item.tjmHt | total: item.nbJour}}</td>  Pipe ===> " | "  -->
    <td>{{item | total }}</td>
    <td>{{item.tjmtHt | total: true}}</td>
    <td>Total Ht</td>
    <td>Total TTC</td>
    <td>{{item.state}}</td>
    <!--<td [ngClass]="{
      'state-option': item.state === 'OPTION',
      'state-cancelled': item.state === 'CANCELLED',
      'state-confirmed': item.state === 'CONFIRMED'
    }">-->
    <td appState [etat]='item.state'>
      <!-- ici un menu déroulant -->
      <select (change) ='changeState(item, $event)'>
        <option
        *ngFor='let state of states'
        [value]="state"

        [selected]='state === item.state'>
        {{state}}</option>



      </select>
  </td>
</tr>
</app-table-light>
<app-btn label="Ajouter" route="add" stylebtn="btn btn-primary"> </app-btn>
</app-template-container>
